/** IMPORT SOCKET MIDDLEWARE */
/** IMPORT CONNECT AND CONNECTED ACTION CREATORS */
/** IMPORT COUNT UPDATE ACTION CREATOR */

describe('Socket Middleware', () => {
  let fakeWebSocket;
  let fakeStore;
  let fakeNext;

  beforeEach(() => {
    fakeNext = jest.fn();

    fakeStore = {
      dispatch: jest.fn(),
    };

    fakeWebSocket = {
      onmessage: () => {},
      onopen: () => {}
    };

    window.WebSocket = jest.fn(url => fakeWebSocket);
  });

  it('does nothing', () => {
    socketMiddleware({})(fakeNext)({
      type: 'FOO',
    });

    expect(fakeNext).toBeCalledWith({
      type: 'FOO',
    });
  });

  it('connects', () => {
    socketMiddleware(fakeStore)(fakeNext)(/** USE CONNECT ACTION CREATOR HERE */);

    fakeWebSocket.onopen();

    expect(fakeStore.dispatch).toBeCalledWith(/** USE CONNECTED ACTION CREATOR HERE */);
    expect(window.WebSocket).toBeCalledWith(process.env.REACT_APP_SOCKET_URL);
  });


  it('updates store on users message', () => {
    const expectedSocketResponse = {
      data: JSON.stringify({
        type: 'users',
        count: 10,
      }),
    };

    socketMiddleware(fakeStore)(fakeNext)(/** USE CONNECT ACTION CREATOR HERE */);

    fakeWebSocket.onopen();
    fakeWebSocket.onmessage(expectedSocketResponse);

    expect(fakeStore.dispatch).toBeCalledWith(/** USE COUNT UPDATE ACTION CREATOR HERE AND PASS EXPECTED SOCKET RESPONSE COUNT TO IT*/);
  });

  it('does not updates store on message other than users', () => {
    const expectedSocketResponse = {
      data: JSON.stringify({
        type: 'other-message',
        count: 10,
      }),
    };

    socketMiddleware(fakeStore)(fakeNext)(/** USE CONNECT ACTION CREATOR HERE */);

    fakeWebSocket.onmessage(expectedSocketResponse);

    expect(fakeStore.dispatch).not.toBeCalled();
  });
});
